html,
body {
    height: 100%;
    background-color: azure !important;
    font-family: "Roboto", sans-serif;
}

.global-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}

form {
    padding-top: 10px;
    font-size: 14px;
    margin-top: 30px;
}

.login-form {
    width: 380px;
    height: 450px;
    margin: 20px;
    background-color: white;
    border-radius: 10px !important;
}

input[type="email"],
input[type="password"] {
    background-color: rgb(253, 253, 253);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-bottom: 25px;
}

input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border: none;
    background-color: white;
    margin: 0;
}

.card-title {
    font-weight: 900;
    padding-top: 20px;
}

.btn {
    background-color: aqua;
    font-size: 14px;
    transform: translateY(10px);
    border-radius: 10px !important;
}

.signup {
    text-align: center;
    padding-top: 25px;
}

.list-group-item {
    text-decoration: none;
}

.footer {
    padding: 4em 0;
    background: #212121;
}

.wthree_footer_copy {
    margin: 4em 0 0;
    padding: 3em 0 0;
    text-align: center;
    border-top: 1px solid #3A3A3A;
}

.wthree_footer_copy p {
    font-size: 14px;
    color: #999;
    line-height: 1.8em;
}

.wthree_footer_copy p a {
    color: #fff;
    text-decoration: none;
}

.wthree_footer_copy p a:hover {
    color: #FA1818;
}